# Ignore packaged gem files.
*.gem

# Ignore local development environment files.
/.env/

# Ignore operating system files.
.DS_Store

# Ignore Gemfile.lock, since this is a gem.
Gemfile.lock

# Ignore RDoc directory.
/doc/
